$colors : (
    'white'     : #FFFFFF,
    'softwhite' : #FAFAFA,
    'medwhite'  : #CCCCCC,
    'peach'     : #F6D0BB,
    'orange'    : #FFBF9B,
    'dusk'      : #969696,
    'midnight'  : #454545,
    'black'     : #000000,
);

// Breakpoint
$breakpoint--xs: 480px;
$breakpoint--sm: 576px;
$breakpoint--md: 768px;
$breakpoint--lg: 991px;
